@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
    font-family: 'Poppins', sans-serifs;
    background: #f4f4f4;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    display: block;
    padding: 25px;
    border-bottom: 1px solid gray;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #929292;
}

nav a:hover {
     color: black;
}

nav a.active {
    color: black;
}

header {
    margin: calc(50px + 1em + 1px);
}

h1 {
    margin-top: 100px;
    line-height: 1.25em;
    font-size: 2.75rem;
    font-weight: bold;
}

h1 + p {
    width: 800px;
    margin: 35px auto;
}

#new-button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(to right, #f00, #0f0);
    padding: 1em 3em;
    border-radius: 50px;
    transition: 150ms ease;
}

#new-button:hover {
    scale: 1.1;
}

.video-player {
    width: min(1000px, 90%);
    margin-top: 30px;
    border-radius: 20px;
    aspect-ratio: 16 / 9;

}

form {
    margin-top: 30px
}

form  input {
    font: inherit;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 50px;
    border: none;
}

input[type="text"], input[type="password"] {
    width: 300px;
    height: 40px;
    background-color: lightgray;
    padding: 5px 20px;

}

input[type="submit"] {
    background-color: blueviolet;
    color: white;
    width: 200px;
    height: 40px;
    padding: 10px;
}

.item-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    
}

.item {
    width: min(250px, 100%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: transform 0.5s ease;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

.item:hover {
    transform: scale(1.02);
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: #0056b3;
}